*.obj
*.dll
*.fo
*.lib
*.exp
*.ilk
*.pdb
*.dep
*.idb
*.ncb
*.suo
*.user
BuildLog.htm
*.exe
*.res
*.manifest
*.bsc
*.sbr
# *.pdf
obj/*
Documents/Build/fo.xsl
Documents/Build/website.xsl
desktop.ini
glIntercept/*
*.sln
*.vcproj
AllTutorials.sln
website/*
*.blend?
*.make
Makefile
*.o
*.d
*.a
*.lo
framework/lib/Debug
framework/framework.txt
*.cbp
*.vcxproj
*.filters
*.sdf
*.workspace
*.layout
Shaders/*
*.depend
*.sln
*.vcproj
*.cbTemp
*.vs
*.build-*
*.project
*.mk
*.codelite
compile_flags.txt
Debug
Release
Tut_*.txt
glsdk/freeglut/freeglut.txt
glsdk/glimg/glimg.txt
glsdk/glload/glload.txt
glsdk/glmesh/glmesh.txt
glsdk/glutil/glutil.txt
glsdk/*.deps